body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intro {
    background-image: url(./images/gradient.png);
    height: 100vh;
    padding: 0;
    color: white;
    margin-bottom: 0;
}

#intro > .container {
     height: 100vh;
}
#intro > .container > h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: 0;
}

#intro > .container > p {
  margin: 0;  
}

#myself {
   background-color: beige;
}

#myself > .container {
    height: 100vh;
}

#myself > .container > img {
  padding: 0;
  margin-bottom: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#myself > .container > h1 {
    color: darkblue
} 
#myself > .container > p {
  text-indent: 5%;
  text-align: justify;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#skills {
    background-image: url(./images/gradient.png);
}

#skills > .container > h1 {
    color: white
}

#contact-me {
    background-color: beige;
}

#contact-me > .container > h2 {
    color: darkblue
}

#contact-me > .container > h5 {
    font-weight: bold;
    text-align: center
}

@media (max-width: 576px) {
  #intro > .container > h1 {
    font-size: 2.2rem;
  }

  #intro > .container > p {
    font-size: 1.2rem;
  }
  
  #myself > .container > p {
    width: 75%;
    font-size: 0.9rem;
  }

  #skills {
    height: 100%;
  }

  .card > div > div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .card img {
    align-self: center;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {

  #myself > .container > p {
   width: 75%;
  }
  
  #myself > .container > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  
  .card > div > div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .card img {
    align-self: center;
    border-radius: 10px;
  }
 }
